<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Exercise Results</title>
</head>
<body>
    <div tiles:fragment="content">
        <h2>Exercise Results on lesson <th:block th:text="${exerciser.lesson.lessonName}" /></h2>

        <!--@thymesVar id="exerciser" type="ru.ildar.languagelearner.exercise.Exerciser"-->
        <h3>
            Your grade is
            <b th:text="${exerciser.getTotalGrade() * 100}"></b>%
        </h3>

        <form method="post" th:action="${flowExecutionUrl}">
            <input type="submit" value="End exercise" name="_eventId_endTest" />
        </form>
    </div>
</body>
</html>