<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Search results</title>
</head>
<body>
    <div tiles:fragment="content">
        <script type="text/javascript" src="/scripts/search.js"></script>
        <script type="text/javascript">
            searchText = "<th:block th:text='${searchQuery}' />";
        </script>

        <h2>Search Results</h2>
        <!--@thymesVar id="searchQuery" type="java.lang.String"-->
        <h3>Your search query was "<span th:text="${searchQuery}"></span>"</h3>

        <div id="cssmenu">
            <ul id="cssmenuul">
                <li class="active"><a href="#" onclick="searchLessons(this);">Lessons</a></li>
                <li><a href="#" onclick="searchTranslations(this);" class="cssmenuli">Translation pairs</a></li>
            </ul>
        </div>

        <div id="results">
            <!--@thymesVar id="retrievalResult" type="ru.ildar.languagelearner.controller.dto.PageRetrievalResult"-->
            <th:block th:include="layouts/lesson :: content" th:with="lessons=${retrievalResult.content}" />
            <i th:if="${retrievalResult.content.size() == 0}"><br />No lessons found</i>
        </div>
    </div>
</body>
</html>