<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
    <div th:fragment="content">
        <div id="tooplate_header_wrapper">
            <div id="tooplate_header">

                <div id="site_title">
                    <h1>
                        <a href="http://www.tooplate.com" rel="nofollow">
                            <img src="/images/tooplate_logo.png" alt="logo" />
                            <span>Language Learner</span>
                        </a>
                    </h1>
                </div>

                <div id="header_right">
                    <div id="search_box">
                        <form action="#" method="get">
                            <input type="text" value="Search" name="q" size="10"
                                   id="searchfield" title="searchfield" onfocus="clearText(this)"
                                   onblur="clearText(this)" />
                            <input type="submit" name="Search" value="" id="searchbutton"
                                   title="Search" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>