<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title tiles:include="title">Layout Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
</head>

<body>
<div id="main">

    <div id="header">
        <div id="logo">
            <h1>Language Learner</h1>
            <div class="slogan">Learn languages with ease!</div>
        </div>
        <div th:replace="layouts/menu :: content">
            Menu
        </div>

        <div id="search">
            <form method="get" th:action="@{/search}">
                <input type="text" name="searchText" placeholder="Search" />
                <input type="submit" value="Search" />
            </form>
        </div>

        <!--@thymesVar id="userFirstName" type="java.lang.String"-->
        <div sec:authorize="isAuthenticated()" id="greeting" th:switch="${userFirstName}">
            <th:block th:case="${null}"
                      th:text="|Welcome, ${#httpServletRequest.userPrincipal.name}!|" />
            <th:block th:case="*"
                      th:text="|Welcome, ${userFirstName}!|" />
        </div>
    </div>

    <!--@thymesVar id="notAuthUserData" type="java.util.Map<java.lang.String, java.lang.Object>"-->
    <div id="site_content">
        <div id="sidebar_container">

            <th:block th:if="${#httpServletRequest.userPrincipal == null}" th:object="${notAuthUserData}">
                <!-- First note - how many people are there registered on the website -->
                <img class="paperclip" src="/images/paperclip.png" alt="paperclip" />
                <div class="sidebar">
                    <h3>People's count</h3>
                    <p>There are currently <span th:text="*{registeredPeopleCount}">30</span>
                        people registered.</p>
                </div>

                <!-- Second note - the most popular clusters among users -->
                <img class="paperclip" src="/images/paperclip.png" alt="paperclip" />
                <div class="sidebar">
                    <h3>Popular clusters</h3>
                    <p th:if="*{popularClusters.size() != 0}">
                        The most popular clusters among the users are the next:
                        <ol>
                            <li th:each="popCl : *{popularClusters}"
                                th:text="|(${popCl.language1} => ${popCl.language2}) - ${popCl.count}|" ></li>
                        </ol>
                    </p>
                    <p th:if="*{popularClusters.size() == 0}">
                        There are currently no clusters in the system.
                    </p>
                </div>

                <!-- The third node - the average count of lessons in clusters -->
                <img class="paperclip" src="/images/paperclip.png" alt="paperclip" />
                <div class="sidebar">
                    <h3>Lessons in clusters</h3>
                    <p>
                        The average count of lessons in clusters among users:
                        <ol>
                            <li th:each="cls : *{clusterLessonInfos}"
                                th:text="|(${cls.language1} => ${cls.language2}) - ${cls.count}|" ></li>
                        </ol>
                    </p>
                </div>
            </th:block>

            <!--@thymesVar id="authUserData" type="java.util.Map<java.lang.String, java.lang.Object>"-->
            <th:block th:if="${#httpServletRequest.userPrincipal != null}" th:object="${authUserData}">
                <!-- The user's lessons that weren't taken for the longest time -->
                <img class="paperclip" src="/images/paperclip.png" alt="paperclip" />
                <div class="sidebar">
                    <h3>Forsaken lessons</h3>
                    <p>
                        The lessons that you haven't taken for the longest time:
                    <ol>
                        <li th:each="lesson : *{lessonsForsaken}">
                            <a th:href="@{/doExercise(lessonId=${lesson.lessonId})}"
                               th:text="${lesson.lessonName}">
                                The First lesson
                            </a>
                            <h4 th:text="|Cluster ${lesson.cluster.language1.defaultName} => ${lesson.cluster.language2.defaultName}|"></h4>
                            <th:block th:if="${#dates.format(lesson.lastTaken, 'yyyy') == '0001'}">
                                - never taken
                            </th:block>
                            <th:block th:if="${#dates.format(lesson.lastTaken, 'yyyy') != '0001'}">
                                - since
                                <th:block
                                        th:text="${#dates.format(lesson.lastTaken, 'dd/MM/yyyy hh:mm')}">
                                    13/10/2015 10:20
                                </th:block>
                            </th:block>
                        </li>
                    </ol>
                    </p>
                </div>

                <!-- The user's lessons that have the smallest average grade -->
            </th:block>

        </div>
        <div id="content">
            <div tiles:replace="content">
                The content
            </div>
        </div>
    </div>

    <div th:replace="layouts/footer :: content">
        The footer
    </div>

</div>
</body>
</html>

<!--<img class="paperclip" src="/images/paperclip.png" alt="paperclip" />-->
<!--<div class="sidebar">-->
    <!--&lt;!&ndash; insert your sidebar items here &ndash;&gt;-->
    <!--<h3>Latest News</h3>-->
    <!--<h4>What's the News?</h4>-->
    <!--<h5>1st July 2011</h5>-->
    <!--<p>Put your latest news item here, or anything else you would like in the sidebar!<br /><a href="#">Read more</a></p>-->
<!--</div>-->