<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
    <div th:fragment="content">
        <!--@thymesVar id="lessons" type="java.util.List<ru.ildar.languagelearner.database.domain.Lesson>"-->
        <th:block th:each="lesson : ${lessons}" th:object="${lesson}">
            <h3 th:text="*{lessonName}">Lesson 1</h3>
            <p th:text="*{description}">Full description</p>
            <p style="font-size: 12px;">
                Average grade:
                <b th:text="${lesson.averageGrade()} + '%'">95%</b>
            </p>
            <p class="post-footer align-right">

                <span th:text="|*{translationsCount} pair(s) of sentences|">25 pairs of sentences</span>

                <a th:href="'javascript:deleteLesson(\'' + *{lessonId} + '\',\'' + ${param.page == null ? 1 : param.page[0]} + '\');'"
                   class="delete">Delete</a>

                <a th:href="@{/lessons/edit(lessonId=*{lessonId})}" class="readmore">Edit lesson</a>

                <a th:href="@{/doExercise(lessonId=*{lessonId})}">Take lesson</a>

                <span class="date" th:text="*{#dates.format(addDate, 'dd/MM/yyyy hh:mm')}">
                    13/10/2015 10:00
                </span>
            </p>
        </th:block>
    </div>
</body>
</html>