<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Language Learner - Main Page</title>
</head>
<body>
    <div tiles:fragment="content">
        <h2>Welcome!</h2>
        <img src="/images/Learn-a-Language.jpg" width="475" />
        <p>
            This website allows you to created your own lessons, fill them with sentences and translations,
            and study them via exercising. By passing these exercises, you learn your lessons and
            thus fill your vocabulary.
            <h4>Enjoy it!</h4>
        </p>
    </div>
</body>
</html>