<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Language Learner - Main Page</title>
</head>
<body>
    <div tiles:fragment="content">
        <div id="services">
            <div class="col_w300">
                <h3 class="service1">Web Design</h3>
                <p>Nunc lobortis, mi a pellentesque posuere, lorem felis vulputate lectus, sit amet bibendum.</p>
                <div class="btn_more"><a href="#">More...</a></div>
            </div>

            <div class="col_w300">
                <h3 class="service2">Online Marketing</h3>
                <p>Suspendisse vitae velit augue. Quisque a cursus purus. Suspendisse eros orci bibendum in leo.</p>
                <div class="btn_more"><a href="#">More...</a></div>
            </div>

            <div class="col_w300 last_col">
                <h3 class="service3">Social Networking</h3>
                <p>Maecenas venenatis bibendum metus eget blandit. Nam leo justo, convallis nec aliquet.</p>
                <div class="btn_more"><a href="#">More...</a></div>
            </div>

            <div class="cleaner"></div>
        </div>

        <div class="content_box content_box_last">
            <div class="col_w460">
                <h2> Welcome to Corporate Blue</h2>
                <div class="image_wrapper image_fl"><img src="images/tooplate_image_02.jpg" alt="Image 02" /></div>

                <p><em>Nam porta mauris nec odio sollicitudin sodales urna in nulla commodo luctus.</em></p>
                <p>Corporate Blue is a free <a rel="nofollow" href="http://www.tooplate.com" target="_parent">website template</a> for everyone and it can be used for any purpose. Credits go to <a rel="nofollow" href="http://www.photovaco.com/" target="_blank">Free Photos</a> for photos and <a rel="nofollow" href="http://www.brusheezy.com/brush/1407-Solid-Tech-Rings" target="_blank">Photoshop Tutorials</a> for Solid Tech Rings Brush.</p>

                <div class="cleaner_h20"></div>
                <h6>Vivamus at ipsum at neque fringilla</h6>
                <ul class="tooplate_list">
                    <li>Sapien odio iaculis dui</li>
                    <li>Curabitur ullamcorper</li>
                    <li>Pellentesque adipiscing</li>
                    <li>Molestie sit amet nisi</li>
                </ul>

                <div class="btn_more"><a href="#">More...</a></div>
            </div>

            <div class="col_w460 last_col">
                <h2>Sed venenatis mattis dignissim</h2>
                <div class="image_wrapper"><img src="images/tooplate_image_03.jpg" alt="Image 03" /></div>
                <p><em>Cras fringilla, velit ac facilisis viverra, tortor velit hendrerit erat, sed pharetra nulla mi in lectus.</em></p>
                <p>Aenean dolor mi, malesuada eget consequat tristique, tempor vehicula ligula. Ut quis nibh orci, fermentum consequat est. Proin porta congue enim, a interdum mi hendrerit quis. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                <p>Vivamus at ipsum at neque fringilla imperdiet non gravida velit. Donec vel enim leo, at elementum augue. Phasellus at suscipit dolor. Cras vulputate, tortor in lobortis imperdiet, ante urna ultricies elit, ut suscipit tortor tortor ac tellus.</p>
                <div class="btn_more"><a href="#">More...</a></div>
            </div>

            <div class="cleaner"></div>
        </div>

        <div class="cleaner"></div>
    </div>
</body>
</html>