<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">View Clusters</title>
</head>
<body>
    <div tiles:fragment="content">
        <script type="text/javascript">
            function deleteCluster(clusterId) {
                var answ = confirm("Are you sure you want to delete this cluster? " +
                        "The information associated with it (lessons, translations) " +
                        "will be lost.");

                if(answ == true) {
                    var deleteClsForm = $("#deleteClsForm");
                    deleteClsForm.find("#clusterIdDeleteClsForm").val(clusterId);
                    deleteClsForm.submit();
                }
            }
        </script>
        <form method="post" th:action="@{/cluster/delete}" hidden="hidden" id="deleteClsForm">
            <input type="hidden" name="clusterId" id="clusterIdDeleteClsForm" />
        </form>

        <h2>View clusters</h2>
        <table border="1">
            <tr>
                <th>Language 1</th>
                <th>Language 2</th>
                <th>View Info</th>
                <th>View lessons</th>
                <th>Delete</th>
            </tr>
            <!--@thymesVar id="clusters" type="java.util.List<ru.ildar.languagelearner.database.domain.Cluster>"-->
            <tr th:each="cls : ${clusters}" th:object="${cls}">
                <td th:text="*{language1.defaultName}">English</td>
                <td th:text="*{language2.defaultName}">Russian</td>
                <td><a th:href="@{/cluster/viewCluster/__*{clusterId}__}">View info</a></td>
                <td><a th:href="@{/lessons/viewLessons(clusterId=${cls.clusterId})}">
                    View lessons</a></td>
                <td>
                    <a th:href="'javascript:deleteCluster(\'' + *{clusterId} + '\');'"
                       class="delete">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>