<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">View Cluster</title>
</head>
<body>
    <div tiles:fragment="content">
        <h2>View cluster</h2>
        <div th:if="${created == true}" style="color:red;">
            Cluster has been successfully created.
        </div>
        <!--@thymesVar id="cls" type="ru.ildar.languagelearner.database.domain.Cluster"-->
        <table th:object="${cls}">
            <tr>
                <td>First language:</td>
                <td th:text="*{language1.defaultName}">English</td>
            </tr>
            <tr>
                <td>Second language:</td>
                <td th:text="*{language2.defaultName}">German</td>
            </tr>
            <tr>
                <td>Last lesson add date:</td>
                <td th:text="*{lastLessonAddDate} ? *{#dates.format(lastLessonAddDate, 'dd/MM/yyyy hh:mm')} : '(Not set)'">
                    13/10/1995 10:00
                </td>
            </tr>
            <tr>
                <td>Total lessons for this cluster:</td>
                <!--@thymesVar id="lessonsCount" type="java.lang.Integer"-->
                <td th:text="${lessonsCount}">10</td>
            </tr>
        </table>
        <a th:href="@{/lessons/viewLessons(clusterId=${cls.clusterId})}">View lessons</a>
    </div>
</body>
</html>