<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Create New Lesson</title>
</head>
<body>
    <div tiles:fragment="content">
        <h2>Create new lesson</h2>
        <form method="post" th:action="@{/lessons/create}" th:object="${lesson}">
            <input type="hidden" th:field="*{clusterId}" />
            <fieldset>
                <legend>Enter lesson data, including translations</legend>

                <table>
                    <tr>
                        <td><label th:for="lessonName">Lesson name:</label></td>
                        <td><input th:field="*{lessonName}" type="text" /></td>
                        <td><span style="color: red;" th:if="${#fields.hasErrors('lessonName')}"
                                  th:errors="*{lessonName}" ></span></td>
                    </tr>

                    <tr>
                        <td><label th:for="description">Description:</label></td>
                        <td><textarea th:field="*{description}" row="5" cols="30" ></textarea></td>
                        <td><span style="color: red;" th:if="${#fields.hasErrors('description')}"
                                  th:errors="*{description}" ></span></td>
                    </tr>

                    <tr>
                        <td><label th:for="translations">Translations:</label></td>
                        <td>
                            <!--@thymesVar id="language1" type="java.lang.String"-->
                            <!--@thymesVar id="language2" type="java.lang.String"-->
                            <div th:text="|Enter a sentence in ${language1} and
                            corresponding translation in ${language2}|">
                                Enter a sentence in English and corresponding translation in Russian
                            </div>

                            <table border="1">
                                <tr>
                                    <th>Sentence</th>
                                    <th>Translation</th>
                                    <th>Info</th>
                                </tr>
                                <tr th:each="translation,trStat : *{translations}" class="transTr">
                                    <td><input type="text"
                                          th:field="*{translations[__${trStat.index}__].sentence1}" />
                                    </td>
                                    <td><input type="text"
                                          th:field="*{translations[__${trStat.index}__].sentence2}" />
                                    </td>
                                    <td>
                                        <span style="color: red;" th:if="${#fields.hasErrors('translations[__${trStat.index}__].sentence2')}"
                                              th:errors="*{translations[__${trStat.index}__].sentence2}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" name="addTranslation">
                                            Add translation
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </fieldset>
            <input type="submit" value="Add lesson" />
        </form>
    </div>
</body>
</html>