<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">View Lessons</title>
</head>
<body>
    <div tiles:fragment="content">
        <script type="text/javascript" src="/scripts/lessons.js"></script>

        <form method="post" id="removeLessonForm">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>

        <h2 th:text="|View lessons of cluster ${language1} => ${language2}|">View lessons</h2>
        <a th:href="@{/lessons/create(clusterId=${param.clusterId})}">Create a lesson</a><br /><br />

        <!--@thymesVar id="lessons" type="java.util.List<ru.ildar.languagelearner.database.domain.Lesson>"-->
        <th:block th:include="layouts/lesson :: content" th:with="lessons=${lessons}" />
        <div th:if="${lessons.size() == 0}"><i>No lessons here</i></div>

        <!--@thymesVar id="pagesCount" type="java.lang.Integer"-->
        <th:block th:each="pg : ${#numbers.sequence(1, pagesCount)}">
            <th:block th:switch="${pg}">
                <b th:case="${param.page[0]}" th:text="${pg}">1</b>

                <a th:case="*" th:text="${pg}"
                   th:href="@{/lessons/viewLessons(clusterId=${param.clusterId}, page=${param.page})}">2</a>

            </th:block>
        </th:block>
    </div>
</body>
</html>